body{
font-family: Arial, sans-serif;
margin: 20px;
}
form{
    margin-bottom: 15px;
}
label{
    display: block;
    margin: 50px 0;
    font-size: 16px;
}
p{
font-size: 18px;
color: #333;
font-weight: bold;
}
